<footer>
    <div class="logo-container">
        <div class="logo-box">
            <img src="https://bg.schorndorf.de/dateien/website/Faecher/UNESCO/Logos/unescotempel.png" alt="UNESCO Logo">
            <p>Organisation der Vereinten Nationen für Bildung, Wirtschaft und Kultur</p>
        </div>
        <div class="logo-box"></div>
            <img src="https://bg.schorndorf.de/dateien/website/Faecher/UNESCO/Logos/unescoprojektschule.png" alt="UNESCO-Projektschulen Logo">
            <p>Mitglied des Netzwerkes der UNESCO-Projektschulen</p>
        </div>
        <div class="logo-box">
            <img src="https://bg.schorndorf.de/dateien/website/Logos/Sonstige/jugendbegleiter.png" alt="Jugendbegleiter Logo">
            <p>Jugendbegleiterschule Baden-Württemberg</p>
        </div>
        <div class="logo-box">
            <img src="https://bg.schorndorf.de/dateien/website/Logos/Sonstige/fairtradestadt.png" alt="Fairtrade Logo">
            <p>Das BG ist Mitmacher bei Fairtrade Stadt Schorndorf</p>
        </div>
        <div class="logo-box">
            <img src="https://bg.schorndorf.de/dateien/website/Logos/Sonstige/BG-QRCode_Instagram.png" alt="Instagram QR Code">
            <p>Das BG auf Instagram.</p>
        </div>
        <div class="logo-box">
            <img src="https://bg.schorndorf.de/dateien/website/Fotos/2024-2025/2024-10-27-Mintfreundliche-Schule/mfs-logo-ehrung_24.jpg" alt="MINT Logo">
            <p>MINT-freundliche Schule</p>
        </div>
    </div>
</footer>