<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app.component.css"> <!-- Verknüpfung mit CSS-Datei -->
</head>
<body>
  
  

  <nav class="navbar">
    <div class="logo">
      <img src="assets/img/logo.png" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li><a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Schulprofil" target="_blank">Schulprofil</a></li>
      <li><a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Unsere_Schule" target="_blank">Unsere Schule</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn" (mouseenter)="showDropdown('services')" (mouseleave)="hideDropdown('services')">Downloads</a>
        <div class="dropdown-content" [class.show]="dropdowns['services']" (mouseenter)="enterDropdown()" (mouseleave)="leaveDropdown('services')">
          <a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Downloads/Sch%C3%BClerinnen_und_Sch%C3%BCler" target="_blank">Schülerinnen und Schüler</a>
          <a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Downloads/Elternbriefe" target="_blank">Elternbriefe</a>
          <a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Downloads/Sonstiges" target="_blank">Sonstiges</a>
          <a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Downloads/Entschuldigungsvorlage" target="_blank">Entschuldigungsvorlage</a>
          <a href="https://bg.schorndorf.de/Website/Seiten/Aktuell/Startseite/Downloads/Elternbeirat_-_Zuschussantrag" target="_blank">Elternbeirat - Zuschussantrag</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn" (click)="countClicks()" (mouseenter)="showDropdown('schulplattformen')" (mouseleave)="hideDropdown('schulplattformen')">Schulplattformen</a>
        <div class="dropdown-content" [class.show]="dropdowns['schulplattformen']" (mouseenter)="enterDropdown()" (mouseleave)="leaveDropdown('schulplattformen')">
          <a href="https://bw.schule/login" target="_blank">Moodle</a>
          <a href="https://perseus.webuntis.com/WebUntis/?school=burg-gym#/basic/login" target="_blank">Untis</a>
          <a href="https://filr-schulen.schorndorf.de/filr/login" target="_blank">Cloud</a>
          <img [class.show]="showImage" class="easteregg" src="/assets/img/john-pork.jpeg" alt="Bild" /> <!-- Easteregg -->
        </div>
      </li>
    </ul>
  </nav>
  
</body>
</html>