/* Navbar styles */
.navbar {
  font-family: "Nunito";
  position: fixed;  /* Fixiert die Navbar */
  top: 0vw;           /* Immer oben */
  width: 97%;      /* Nimmt die gesamte Breite ein */
  z-index: 1000;    /* Stellt sicher, dass sie über anderen Elementen bleibt */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.6vw;
  border-radius: 1vw;
  margin-bottom: 2vw;
}

.logo img {
  height: 2vw;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  position: relative;
  padding: 0 0.78vw;
  border-radius: 0.26vw; /* Abgerundete Ecken für Listenelemente */
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.52vw 1.04vw;
  display: inline-block;
  background-color: transparent;
  border: 0.104vw solid transparent;
  border-radius: 0.26vw;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  background-color: #61b27d; /* Dunklerer Blauton */
  border-color: #61b27d;
  transform: scale(1.05); /* Leichtes Anheben */
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1;
  border-radius: 0.416vw;
  box-shadow: 0 0.208vw 0.416vw rgba(0, 0, 0, 0.15);
  left: 50%; /* Setzt den linken Rand auf die Mitte des Buttons */
  transform: translateX(-50%); /* Verschiebt das Dropdown um 50% seiner Breite nach links, um es mittig auszurichten */
  margin-top: 0.781vw;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 0.52vw 1.04vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
  border-color: #61b27d;
  transform: scale(1.05); /* Leichtes Anheben */
}

.easteregg.show{
  display: block;
}

.easteregg {
  display: none;
  width: 5.208vw;
}
