.sidebar {
    margin-left: 10vw;
    background-color: #333;
    height: auto;
    width: 10vw;
    font-size: 1vw;
    border-radius: 0.4vw;
    
}

.info {
    font-weight: bold;
    color: white;
    font-size: 1vw;
    display: flex;
    justify-content: center;
}

.element {
    text-decoration: none;
    color: white;
    display: felx;
    justify-content: center;
    margin-bottom: 1vw;
}

.link {
    display: flex;
    justify-content: center;
}

.element :hover {
    background-color: #61b27d;
    transform: scale(1.05);
    border-radius: 0.2vw;
}