/* Navbar styles */
.navbar {
  font-family: "Roboto", sans-serif;
  position: fixed;  /* Fixiert die Navbar */
  top: 7px;           /* Immer oben */
  width: 97%;      /* Nimmt die gesamte Breite ein */
  z-index: 1000;    /* Stellt sicher, dass sie über anderen Elementen bleibt */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 15px;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  position: relative;
  padding: 0 15px;
  border-radius: 5px; /* Abgerundete Ecken für Listenelemente */
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  background-color: #0056b3; /* Dunklerer Blauton */
  border-color: #0056b3;
  transform: scale(1.05); /* Leichtes Anheben */
}

.nav-links .active {
  font-weight: bold;
  border-bottom: 2px solid white;
  color: #ff6600; /* Helle Akzentfarbe */
  border-bottom: 3px solid #ff6600;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  max-width: 200px; /* Begrenzung der Breite */
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden; /* Verhindert Überlauf */
  right: 0; /* Richtet das Menü am rechten Rand aus */
  margin-top: 15px;
}

.dropdown-content a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0056b3; /* Dunklerer Blauton */
  border-color: #0056b3;
  transform: none; /* Entfernt das Anheben für Dropdown-Links */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0056b3; /* Dunklerer Blauton */
  border-color: #0056b3;
}
