<div class="calendar-block">
  <div class="calendar-header">
    <h3>Anstehende Termine</h3>
  </div>
  <div class="events-list">
    <div *ngFor="let event of events">
      <div class="event-item">
        <div class="event-icon-container">
          <div class="event-icon">
            <div class="event-date-top">{{ event.date | date: 'MMM' }}</div>
            <div class="event-date-middle">{{ event.date | date: 'dd' }}</div>
            <div class="event-date-bottom">{{ event.date | date: 'EEE' }}</div>
          </div>
        </div>
        <div class="event-details">
          <div class="event-title">{{ event.title }}</div>
          <div class="event-time">{{ event.time }}</div>
          <div class="event-description">{{ event.description }}</div>
        </div>
      </div>
      <div class="divider"></div> 
    </div>
  </div>
</div>
