.calendar-block {
  background-color: rgba(141, 134, 134, 0.5); /* Ursprüngliche Hintergrundfarbe */
  padding: 1%; /* Ursprüngliches Padding */
  display: flex;
  flex-direction: column;
  width: calc(15% - 1vw); /* Breite anpassen, um 1vw Abstand zu den Blogposts zu gewährleisten */
  justify-content: flex-start;
  border-radius: 1vw;
  position: fixed; /* Fixierte Position */
  top: 120px; /* Abstand zur oberen Kante */
  right: 1vw; /* Abstand zum rechten Bildschirmrand */
  margin-left: 1vw; /* Abstand zu den Blogposts */
  height: auto; /* Höhe automatisch anpassen */
  overflow: hidden; /* Scrollen innerhalb des Blocks deaktivieren */
}

.calendar-header {
  background-color: rgba(141, 134, 134, 0.5); /* Ursprüngliche Hintergrundfarbe */
  padding: 1%; /* Ursprüngliches Padding */
  border-radius: 1vw; /* Ursprüngliche Abrundung */
  margin-bottom: 1%; /* Ursprünglicher Abstand */
  color: white;
  text-align: center;
  font-size: 2em; /* Größe der Überschrift anpassen */
}

.events-list {
  margin-top: 10px;
  overflow-y: hidden; /* Scrollen im Block deaktivieren */
}

.event-item {
  display: flex;
  align-items: center;
  background-color: transparent; /* Hintergrund transparent */
  border: none; /* Keine Rahmen */
  border-radius: 0; /* Kein Radius */
  padding: 10px 0; /* Abstand oben und unten */
  margin: 0; /* Kein zusätzlicher Abstand */
  cursor: pointer; /* Zeigt, dass das Event anklickbar ist */
  transition: background-color 0.3s ease, width 0.3s ease; /* Sanfte Änderungen */
  width: 100%; /* Ganze Breite nutzen */
}

.event-item:hover {
  background-color: rgba(240, 240, 240, 0.5); /* Heller beim Hovern */
  margin: 0; /* Kein zusätzlicher Abstand */
}

.event-icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.multi-day-event-icons {
  display: flex;
  align-items: center;
}

.event-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 5px; /* Spitzer abgerundet */
  text-align: center;
  border: 1px solid #1976d2; /* Minimaler dünner Rand */
  margin-right: 5px; /* Abstand zwischen Start- und Enddatum */
}

.event-date-top {
  background-color: #90caf9;
  width: 100%;
  padding: 2px 0;
  font-size: 12px;
  border-radius: 5px 5px 0 0; /* Ecken leicht abrunden */
  border: 1px solid #1976d2; /* Minimaler dünner Rand */
  border-bottom: none; /* Entfernen des unteren Randes */
}

.event-date-middle {
  font-size: 20px;
  font-weight: bold;
}

.event-date-bottom {
  background-color: #90caf9;
  width: 100%;
  padding: 2px 0;
  font-size: 12px;
  border-radius: 0 0 5px 5px; /* Ecken leicht abrunden */
  border: 1px solid #1976d2; /* Minimaler dünner Rand */
  border-top: none; /* Entfernen des oberen Randes */
}

.event-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.event-title {
  font-size: 1.2em;
  margin-bottom: 5px; /* Reduzierter Abstand zum Zeitbereich */
}

.event-time {
  font-size: 0.9em;
  font-weight: bold;
  color: #1976d2;
  margin-bottom: 5px; /* Reduzierter Abstand zur Beschreibung */
}

.event-description {
  font-size: 0.9em;
  color: #555;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); /* Fast durchsichtige Linie */
  margin: 0; /* Kein zusätzlicher Abstand */
}

.more-events-button {
  background-color: #1976d2;
  color: white;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Abstand zum letzten Event */
}

.more-events-button:hover {
  background-color: #125aa3;
}
