<div class = side>
    <app-subpages></app-subpages>
    <div class = info>
        <img src = "https://bg.schorndorf.de/dateien/website/Fotos/2023-2024/50_Jahre_BG-Logo/BG.jpg" class = "picture">
        <div class = headline_gap>
            <span class = "heading">50 Jähriges Schuljubiläum im Jahr 2024</span>
            <div class = "gap"></div>   
        <div>
        <span class = text>Dies feiern wir von Dezember 2023 bis in den Sommer 2024 hinein mit verschiedenen Veranstaltungen und Aktivitäten.  
            Im Rahmen dieser Feierlichkeiten bauen wir Brücken in die Vergangenheit und die Zukunft des BG. Gemeinsam entdecken wir die 50-jährige Geschichte der Schule, feiern ihre Gegenwart und gestalten ihre Zukunft.
            Auf dieser Seite finden Sie daher unser Jubiläumsprogramm.
            
            Im Laufe des Kalenderjahres 2024 werden hier immer wieder Berichte von den Veranstaltungen eingestellt.
        </span>
        <div class = gap></div>
        <img src = "https://bg.schorndorf.de/dateien/website/Fotos/2023-2024/2023-12-20-Burg-Weihnacht_Konzert/Burg-Weihnacht_1.jpg" class = "picture">
        <div class = headline_gap>
            <span class = "heading">Der Auftakt ins Jubiläumsprogramm - <br> die Burg-Weihnacht am 20.Dezember 2023</span>
            <div class = "gap"></div>   
        <div>
    </div>
</div>