.entry {
    width: 40vw;
    margin: auto;
}

.image {
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
    width: 40vw;
}

.info {
    display: flex;
    justify-content: space-between;
}

.author {
    color: white;
}

.hashtag {
    margin-top: -0.4vw;
    color: blue;
    text-decoration: none;
}

.hashtag:hover {
    text-decoration: underline;
}

.article {
    color: white;
    font-size: clamp(0.5vw, 1vw, 2vw);
}