.entry {
    width: 40vw;
    margin: auto;
}

.header {
    color: white;
    font-size: clamp(0.7vw, 1.2vw, 2.2vw);
    text-decoration: underline;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.image {
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
    width: 40vw;
}

.info {
    display: flex;
    justify-content: center;
}

.author {
    color: white;
    margin-right: 0.5vw;
}
.hashtags {
    margin-left: 0.5vw;
}

.hashtag {
    margin-top: -0.4vw;
    color: #1a73e8;
    text-decoration: none;
}

.hashtag:hover {
    text-decoration: underline;
    color: #2f83f1;
}

.article {
    color: white;
    font-size: clamp(0.5vw, 1vw, 2vw);
}