<div class = "entry">
        <img class="image" src="https://bg.schorndorf.de/dateien/website/Fotos/2024-2025/Logo_fuer_Website.jpg">
        <span class = "header">
            Tag der offenen Tür
        </span>
        <div class = "info">
            <span class = "author">
                Autor: Michael Oelschlegel
            </span>
            <div class = "hashtags">
                <a href= "https://www.youtube.com/watch?v=dQw4w9WgXcQ" class = "hashtag">
                    #anmeldung
                </a>
                <a href= "https://www.youtube.com/watch?v=dQw4w9WgXcQ" class = "hashtag">
                    #tagderoffenentür
                </a>
            </div>
        </div>
        <div class = "article">
            {{text}}
        </div>
</div>

