.component {
    background-color: #817c7c;
    padding: 0.5%;
    display: flex;
    max-height: 20vw;
    justify-content: flex-start;
    border-radius: 1vw;
    overflow: hidden;
    margin-top: 1vw;
}

.image{
    max-width: 25vw;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.component-text {
    margin-left: 1vw;
    color: white;
    font-size: clamp(0.8vw, 1vw, 1.6vw);
    text-decoration: none;

}

.component-text-header {
    margin: 0%;
    font-size:  clamp(0.5vw, 2vw, 4.5vw);
    max-height: 4.5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.component-text-preview {
    margin-top: auto;
    overflow-y: hidden;
    break-inside: auto;
    
}

:hover.component {
    background-color: #8d8686;
    cursor: pointer;
    

}

.link {
    text-decoration: none;
}

