.component {
    background-color: #817c7c;
    padding: 0.5%;
    display: flex;
    width: 70%;
    justify-content: flex-start;
    border-radius: 1vw;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 1%;

}

.image{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;

}

.component-text {
    margin-left: 1vw;
    color: white;
    font-size: clamp(0.8vw, 1.3vw, 1.6vw);

}

.component-text-header {
    margin: 0%;
    font-size:  clamp(0.5vw, 2vw, 4.5vw);
    height: auto;
    
}

.component-text-preview {
    margin-top: auto;
    overflow-y: hidden;
    break-inside: auto;
    
}

:hover.component {
    background-color: #8d8686;
    cursor: pointer;
    
}

